
  .glass-morphic-form {
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .login-form {
    display: block;
  }
  
  .signup-form {
    display: none;
  }
  
  .toggle-form {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
  }
  
  /* Additional styles for the toast message */

  .register-form {
    display: none;
  }
  
  
